/* use commas to apply the same set of rules to multiple selectors */
/*  banner - Charles W. Chesnutt Publisher Correspondance */


 /* *{}this is a universal selector that will affect html on every page */

html {
    background-color:blue;
    opacity:0.5;
}


body {
    background-color: purple;
    width:auto; /* can change to pixels maybe */
    height:auto;
    margin-top:0px;
    margin-right:40px;
    margin-bottom:10px;
    margin-left:40px;
}

/*  excluding p.signed from here because maybe we want to do a cursive font for that hehe...  */

body, h1, h2, h3, h4, h5, h6, h6, p.letter, p.salutation, p.letter_dateline, p.dateline, p.letter_byline, p.body_paragraph, p.citation, .pageTitle, .notes, .citation, .columnTitle, .columnSubHead, .footnote {
    font-family:roman, 'times new roman', times, serif;
    color:black;
/* can and should i just move font family and font color to the html selector */
}


h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;

}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

h1.banner {
    text-align:center;
}

h2.banner {
    text-align:center;
}

h3.title {
    text-align:center;
}






/* 
.unknown
.printedtype
.ink
.pencil
.type
 */


/* use the following listed format if we want to keep all of the different p classes the same. if not, delete the classes that will be formatted differently and delete the included information from the individual selector */

p, p.letter p.salutation, p.signed, p.letter_dateline, p.dateline, p.letter_byline, p.signed, p.body_paragraph .content, .pageTitle, .footnote, .notes, .citation {
    font-size: 14px;
}



/* delete anything in the following if it has already been included in group css and nothing specfic to that tag/class is being added */
/* p{} */

p.body_paragraph {
    text-align:center;
    text-indent:20px;
}

p.salutation {
    text-align:left;
}

p.signed {
    font-family:Zapf-Chancery, cursive;
    text-align:right;
}

p.letter_dateline {
    text-align:right;
}

p.dateline {
    text-align:right; 
}

p.letterByline {
    text-align:left; 
}

.citation {
    text-align:center;
    border-top-style:solid;
    border-width: 8px;
    border-color:gray;
}


/* classes that are not designated by a p tag

.content {
    font-size: 
    line-height:  
    font-weight:  
}

.pageTitle {
    font-size: 
    line-height:  
    font-weight: 
}
 */
 

.footnote, .notes {
    font-size: 14px;
    text-align:center;
}


/* probably delete these

.columnTitle {

} 
}

.columnsubHead {
    
}



.letter {
 
}
 * /


/* other html tags that may not need extra styling */


a {
    border-style:solid;
    background-color:navy;
    color:white;
    text-decoration:none; /* none is used to remove underlines from links, add back if we don't want to do buttons */
    padding:13px;
    text-align:center;
}